<center><h1>Current Roles</h1></center>
<hr class ="style1">
<div class = "container">
  <div class = "row">
    <br><br><br>
    <div class ="col-md-12"><p class = "lead"> Click on any of the images to visit our profiles or partners websites. 

      View the most up to date job specifications we are offering and find the perfect one for you.</p></div>
     
     
  <div class = "row">
    <div class ="col-md-3">
      <%= link_to "http://www.irishjobs.ie/Recruiters/GHL-Recruitment-815.aspx" do %>
        <%= image_tag("partners/irishjobs.ie_logo.jpg",:class=>"img-responsive img-rounded", :alt => "rss feed") %>
      <% end %> 

      



        
    </div>
    <div class ="col-md-3">
     <center>
      <%= link_to "https://www.recruitireland.com/company/search/?Company=GHL%20RECRUITMENT" do %>
        <%= image_tag("partners/recruit_ire.png",:class=>"img-responsive img-rounded", :alt => "rss feed") %>
      <% end %> 
    </center> 
    </div>
    <div class ="col-md-3">
       <%= link_to "http://beyond.ie/careers-beyond-accounting/" do %>
        <%= image_tag("partners/beyond.png",:class=>"img-responsive img-rounded", :alt => "rss feed") %>
       <% end %> 
    </div>
    <div class ="col-md-3">
       <%= link_to "https://www.xero.com/" do %>
        <%= image_tag("partners/xero_acc.png",:class=>"img-responsive img-rounded", :alt => "rss feed") %>
       <% end %> 
    </div>
  </div>


        
</div>
</div>
